/* Definir colores personalizados */
:root {
    --disco: #901956;
    --blue-chill: #0faca5; /* Turquesa */
    --satin-linen: #e5e5d1; /* Color crema */
    --alizarin-crimson: #e42b2d;
    --cape-palliser: #af7841;
    --maroon-flush: #bf2646;
    --buccaneer: #5d2b3f;
    --dark-gray: #333333; /* Gris oscuro */
    --white: #ffffff; /* Blanco */
}

.fa-check.text-secondary {
    color: var(--blue-chill) !important; /* Checks en turquesa */
}

/* Botones primarios y secundarios */
.btn-primary {
    background-color: var(--disco) !important; 
}

.btn-primary:hover {
    background-color: var(--maroon-flush) !important; 
}

.btn-secondary {
    background-color: var(--blue-chill) !important; 
}

.btn-secondary:hover {
    background-color: var(--cape-palliser) !important; 
}

/* Título "Cupcake House" con dos colores */
.navbar-brand .text-primary {
    color: var(--disco) !important; 
}

.navbar-brand .text-secondary {
    color: var(--blue-chill) !important; 
}

.section-title {
    font-weight: bold !important; 
    color: var(--buccaneer) !important;
    margin-top: -100PX;
}

.team-item h3{
    font-weight: bold !important; 
    color: var(--buccaneer) !important;
}


/* Footer */
.footer {
    background-color: var(--buccaneer) !important; 
}

.footer .text-primary {
    color: var(--satin-linen) !important;
}

.footer .text-secondary {
    color: var(--blue-chill) !important;
}

.footer .col-12 h5, .footer .col-12 p {
    color: var(--satin-linen) !important;
}

/* Navbar */
.navbar-light .navbar-nav .nav-link {
    color: var(--buccaneer) !important;
}

.navbar-light .navbar-nav .nav-link.active {
    color: var(--blue-chill) !important;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: var(--maroon-flush) !important; 
}

/* Botones y contorno de la imagen */
.team-item .btn-outline-secondary {
    border-color: var(--blue-chill) !important;
    color: var(--blue-chill) !important;
}

.page-header {
    background-image: url(../img/IMG_8804.JPG);
    background-size: cover;
    background-position: center;
    margin-bottom: 90px;
}

.texto1 {
    display: flex;
    justify-content: center;  
    align-items: center;     
    text-align: center;
    width: 100%;             
    height: 100vh;           
    margin-top: -250px;
    margin-bottom: -250px;
}


/* Cambiar color de fondo del contenedor del producto*/
.product-item:hover {
    background-color: var(--blue-chill) !important; 
    color: var(--white) !important; 
    transition: background-color 0.3s ease; 
}

